.empty-state {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 100%;
    box-sizing: border-box;
    border: 3px dashed #e3e4e4;
    border-radius: 10px;
    padding: 24px;
    margin: 16px;
    text-align: center;
    
    .empty-state-header {
      max-width: 75ch;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #464e4e;
      text-transform: none;
      margin-bottom: 0;
    }
  
    .primary-content > & {
      margin: 0;
    }
    
    .hidden {
      display: none;
    }
    
    p.empty-state-description {
      max-width: 75ch;
      font-size: 14px;
      line-height: 20px;
      color: #8e9494;
      padding: 0 1%;
      margin-top: 10px;
      margin-bottom: 16px;
    }
    .empty-state-img {
      max-width: 100%;
      padding: 0 0 10px;
    }
  }

  